<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="roseport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/minireset.css/0.0.2/minireset.min.css">
    <link rel="stylesheet" href="__ADMIN__css/style.css">
    <!--<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>-->
</head>
<body>

<!--<script type="text/javascript">-->
    <!--$youziku.load("body", "72719022ab59492a8c8cdebda7780623", "Source-Han-Normal");-->
    <!--/*$youziku.load("#id1,.class1,h1", "72719022ab59492a8c8cdebda7780623", "Source-Han-Normal");*/-->
    <!--/*．．．*/-->
    <!--$youziku.draw();-->
<!--</script>-->