{include file='public/header' /}

<div class="table-title">
    <h4>内容管理</h4>
</div>

<div class="table-function col-md-offset-2 col-md-10">
    <a href="add-content.html" class="botton btn blue ">新建内容</a>
    <a href="add-content-makedown.html" class="botton btn blue ">新建makedown</a>
    <div class="form-group-inline pull-right">
        <label>关键词</label>
        <input type="text" value="">
        <a href="#" class="gery">搜索</a>
    </div>
    <div class="form-group-inline pull-right">
        <label>内容排序</label>
        <select name="order" id="">
            <option value="1">更新时间 新 > 旧</option>
            <option value="1">更新时间 旧 > 新</option>
            <option value="1">内容ID 大 > 小</option>
            <option value="1">内容ID 小 > 大</option>
            <option value="1">添加时间 新 > 旧</option>
            <option value="1">添加时间 旧 > 新</option>
            <option value="1">热度 多 > 少</option>
            <option value="1">热度 少 > 多</option>
        </select>
    </div>
    <div class="form-group-inline pull-right">
        <label>状态</label>
        <select name="order">
            <option value="1">显示</option>
            <option value="1">不显示</option>
        </select>
    </div>
</div>
<ul class="cate-tree col-md-2">
    <li>栏目列表</li>
    {volist name="cate" id="vo"}
        <li><a href="#">{$vo.spear}{$vo.html}{$vo.cate_name}</li>
    {/volist}
</ul>
<table class="table-body col-md-10">
    <thead>
        <tr>
            <th><label><input type="checkbox" class="select-item selectAll"> 全选</label></th>
            <th>id</th>
            <th class="content-title" width="30%">内容标题</th>
            <th>热度</th>
            <th>是否显示</th>
            <th width="5%">排序</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody class="content-body">
        {volist name="data" id="vo"}
            <tr>
                <td><input type="checkbox" name="{$vo.id}" class="select-item"></td>
                <td>{$vo.id}</td>
                <td class="content-title">{$vo.title}</td>
                <td>{$vo.views}</td>
                <td><a href="#"><i class="iconfont">&#xe783;</i></a></td>
                <td><input class="order" type="text" data-id="{$vo.id}" value="{$vo.order}"></td>
                <td>
                    <a href="#" class="btn rose" value="">查看</a>
                    <a href="#" class="btn blue" value="">编辑</a>
                    <a href="#" class="btn yellow delete" data-id="{$vo.id}" value="">删除</a>
                </td>
            </tr>
        {/volist}
    </tbody>
    <tfoot>
        <tr>
            <td class="copy-move" colspan="5">
                <div class="form-group-inline">
                    <select name="pid" class="f">
                        <option value="1">== 选择栏目 ==</option>
                        {volist name="cate" id="vo"}
                            <option>{$vo.spear}{$vo.html}{$vo.cate_name}</option>
                        {/volist}
                    </select>
                    <a class="gery" href="#">移动</a>
                    <a class="gery" href="#">复制</a>
                    <a class="gery" href="#">发布</a>
                    <a class="gery" href="#">草稿</a>
                    <a class="gery" href="#">删除</a>
                    <div style="display: none;" class="selectTotal">已选中 <span> </span> 条数据</div>
                </div>
            </td>
            <td colspan="2" class="total">
                共计 310 条数据 每页 15条 数据
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
<script src="__ADMIN__js/index.js"></script>

<script src="__ADMIN__js/jquery-2.1.1.min.js"></script>
<script>
    //ajax 修改内容排序
    $('.order').change(function () {
        $id = $(this).attr('data-id');
        $order = {'order':$(this).val(),'id':$id};
        console.log($order);
        $.ajax({
            url:'__URL__content/isDisplay',
            data:$order,
            type:'post',
            success:function () {
                window.location.href = '__URL__content/index'
            }
        })
    })
    //ajax 删除数据
    $('.delete').on('click',function () {
        $id = {'id':$(this).attr('data-id')};
        if(confirm("确定要删除吗 ？")){
            $.ajax({
                url:'__URL__content/delete',
                data:$id,
                type:'post',
                success:function () {
                    window.location.href = '__URL__content/index'
                }
            })
        }
    })
    $('.content-title').hover(function () {
        $img = $(this).attr('data-img');
        if($img){
            $(this).append('<div class="img-postion"><img style="position: absolute;left:20%;max-width: 180px;border:3px solid #fff;" class="cate-img-view" src="__UPLOAD__' + $img +'" /></div>')
        }
    },function () {
        $('.cate-img-view').remove()
    })
</script>

{include file='public/footer' /}