{include file='public/header' /}

<div class="table-title">
    <h4>新建友情链接</h4>
</div>
<form action="__URL__link/insert" method="post" class="addLinkForm" enctype="multipart/form-data">
    <div class="col-md-6" style="padding-right: 20px;">
        <div class="panel blue-border">
            <div class="panel-body">
                <div class="form-group-block">
                    <label>链接标题 <i>*</i></label>
                    <input type="text" name="title" required placeholder="链接标题">
                </div>
                <div class="form-group-block">
                    <label>地址 <i>*</i></label>
                    <input type="text" name="link" required placeholder="链接地址，如https://www.baidu.com/">
                </div>
                <div class="form-group-block">
                    <label>链接图标 <i>*</i></label>
                    <div class="form-group-merge">
                        <input id="images" name="icon" onchange="readfichier(this);" type="file">
                        <div class="img-view">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-block">
                <label>链接排序</label>
                <input type="text" name="order" placeholder="栏目排序">
            </div>
            <div class="form-group-block">
                <label>是否显示 <i>*</i></label>
                <select name="is_show">
                    <option value="1" selected>发布</option>
                    <option value="0">草稿</option>
                </select>
            </div>
        </div>
        <button class="btn red xl">保存</button>
        <button class="btn blue xl">重置</button>
    </div>
</form>
<script src="__ADMIN__js/jquery-2.1.1.min.js"></script>
<script src="__ADMIN__plus/jquery.validate/jquery.validate.js"></script>
<script src="__ADMIN__js/form-validate.js"></script>

<script type="text/javascript">
    // 预览图片
    function readfichier(e) {
        if (window.FileReader) {
            var file = e.files[0];
            var reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = function (e) {
                var image = new Image;
                image.src = e.target.result;
                image.onload = function () {
                    $('.img-view').html(image);
                }
            }
        }
    }

</script>
{include file='public/footer' /}