@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  /* IE9*/
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Microsoft YaHei";
  background-color: #f6f6f6;
  color: #253139;
}
li {
  list-style: none;
}
::selection {
  color: #fff;
  background-color: #ff4b47;
}
a,
a:hover,
a:before,
a:visited {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
/* commmer */
.welcome {
  margin-bottom: 30px;
}
.welcome h1 {
  font-size: 3em;
}
.welcome h3 {
  font-size: 1.5em;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.admin-iframe {
  position: absolute;
  border: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
}
/* table */
table {
  width: 100%;
  max-width: 100%;
}
table:active {
  color: #253139;
}
table tr:hover {
  background: #fff;
}
table tr td:active {
  color: #253139;
}
.table-title h4 {
  font-size: 1.5em;
  padding: 5px 0;
  border-bottom: 3px solid #ff4b47;
  margin-bottom: 20px;
}
.table-function {
  margin-bottom: 10px;
}
.table-body {
  font-size: 0.9em;
}
.table-body thead {
  border-bottom: 1px solid #374850;
}
.table-body thead tr th {
  padding: 10px 0;
  background: #374850;
  color: #fff;
}
.table-body th,
.table-body td {
  padding: 15px;
  text-align: center;
}
.table-body tbody tr td {
  border-bottom: 1px dashed #e0cfd7;
}
.table-body tbody input {
  display: inline-block;
}
.table-body tfoot .total {
  text-align: right;
  padding-right: 40px;
}
.table-body tfoot tr:hover {
  background: none;
}
input.order {
  width: 70px;
}
/* pagination */
.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #253139;
  text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #253139;
  background-color: #fff;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #253139;
  cursor: default;
  background-color: #fff;
  border-bottom: 1px solid #ff4b47;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: default ;
  background-color: #f6f6f6;
  border-color: #ddd;
}
/* botton */
button.xl {
  padding: 5px 24px;
}
button.blue,
a.blue {
  border: 1px solid #36b6d6;
  background: #36b6d6;
}
button.blue:hover,
a.blue:hover {
  background: #2d98b2;
  border: 1px solid #41daff;
}
button.red,
a.red {
  border: 1px solid #ff4b47;
  background: #ff4b47;
}
button.red:hover,
a.red:hover {
  background: #d53f3b;
  border: 1px solid #ff5a55;
}
button.rose,
a.rose {
  border: 1px solid #e74481;
  background: #e74481;
}
button.rose:hover,
a.rose:hover {
  background: #c1396c;
  border: 1px solid #ff529b;
}
button.yellow,
a.yellow {
  border: 1px solid #eba429;
  background: #eba429;
}
button.yellow:hover,
a.yellow:hover {
  background: #c48922;
  border: 1px solid #ffc531;
}
button.gery,
a.gery {
  border: 1px solid #d5d5d5;
  background: #fff;
  color: #253139;
  padding: 6px 8px;
}
button.gery:hover,
a.gery:hover {
  background: #d5d5d5;
  border: 1px solid #fff;
}
button.black,
a.black {
  border: 1px solid #253139;
  background: #253139;
}
button.black:hover,
a.black:hover {
  background: #1f2930;
  border: 1px solid #2c3b44;
}
.btn,
a.btn {
  display: inline-block;
  padding: 5px 8px;
  color: #fff;
  line-height: 20px;
}
/* form */
input,
select,
textarea,
checkbox {
  outline: none;
  border: 1px solid #aaaaaa;
}
input:focus,
select:focus,
textarea:focus,
checkbox:focus {
  border: 1px solid #ff4b47;
}
.form-group-block {
  margin-bottom: 15px;
}
.form-group-block label {
  margin-bottom: 3px;
}
.form-group-block label i {
  color: #ff4b47;
}
.form-group-block input {
  line-height: 28px;
  height: 30px;
  padding: 2px 5px;
  width: 100%;
}
.form-group-block input[type="checkbox"] {
  margin-top: 3px;
}
.form-group-block input[type="file"] {
  padding: 0;
}
.form-group-block select {
  width: 100%;
  height: 30px;
  padding: 2px 5px;
}
.form-group-block textarea {
  width: 100%;
  padding: 5px;
}
.form-group-inline {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.form-group-inline label {
  margin-bottom: 3px;
  display: inline-block;
  text-align: right;
}
.form-group-inline label i {
  color: #ff4b47;
}
.form-group-inline input {
  line-height: 28px;
  height: 30px;
  padding: 2px 5px;
  outline: none;
}
.form-group-inline input:focus {
  border: 1px solid #ff4b47;
}
.form-group-inline select {
  height: 30px;
  padding: 2px 5px;
}
.form-group-merge {
  position: relative;
}
.form-group-merge input {
  padding-right: 80px;
}
.form-group-merge i {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  line-height: 30px;
  opacity: 0.3;
}
.form-group-merge a {
  padding: 0px 20px !important;
  line-height: 30px;
}
.form-group-merge button,
.form-group-merge a {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 2px 20px;
}
.checkbox {
  display: inline-block;
  line-height: 28px;
}
.checkbox input[type="checkbox"] {
  margin-left: 25px;
  width: 12px;
  height: 12px;
}
/* grid */
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-6:nth-child(odd) {
  padding-right: 10px;
  padding-left: 0px;
}
.col-md-6:nth-child(even) {
  padding-right: 0px;
  padding-left: 10px;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}
.col-md-offset-12 {
  margin-left: 100%;
}
.col-md-offset-11 {
  margin-left: 91.66666667%;
}
.col-md-offset-10 {
  margin-left: 83.33333333%;
}
.col-md-offset-9 {
  margin-left: 75%;
}
.col-md-offset-8 {
  margin-left: 66.66666667%;
}
.col-md-offset-7 {
  margin-left: 58.33333333%;
}
.col-md-offset-6 {
  margin-left: 50%;
}
.col-md-offset-5 {
  margin-left: 41.66666667%;
}
.col-md-offset-4 {
  margin-left: 33.33333333%;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.col-md-offset-2 {
  margin-left: 16.66666667%;
}
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
.col-md-offset-0 {
  margin-left: 0;
}
/* cate tree */
.cate-tree {
  padding-right: 20px;
}
.cate-tree li:first-child {
  background: #374850;
  padding: 0 20px;
  line-height: 38px;
  font-size: 1em;
}
.cate-tree li:first-child:hover {
  background: #374850;
}
.cate-tree li:first-child a {
  color: #fff;
}
.cate-tree li {
  background: #fff;
  padding: 8px 20px;
}
.cate-tree li a {
  padding: 5px 0;
  color: #374850;
  font-size: 0.85em;
  letter-spacing: 2px;
}
.cate-tree li:hover {
  background: #f6f6f6;
}
.cate-tree li:last-child {
  padding: 8px 20px 20px 20px;
}
.cate-tree li.selected a {
  border-bottom: 2px solid #36b6d6;
}
/* panel */
.panel {
  margin: 10px 0;
  padding: 10px 15px;
  width: 100%;
  background-color: white;
  border-left: 3px solid #ff4b47;
}
.panel .panel-title {
  padding: 8px 0;
}
.panel .panel-title h4 {
  font-size: 1.5em;
}
.panel .panel-title h5 {
  font-size: 1.2em;
}
.panel .panel-body {
  line-height: 25px;
  display: block;
}
.panel .panel-body p,
.panel .panel-body span {
  margin: 5px 0;
}
.panel .panel-body span {
  padding-right: 30px;
}
.blue-border {
  border-left: 3px solid #36b6d6;
}
.welcome {
  margin-bottom: 30px;
}
#markdown-body {
  border: 1px solid #eee;
  overflow-y: scroll;
  width: 100%;
  padding: 10px;
}
#markdown-body .demo {
  color: #e5e5e5;
}
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #ff4b47;
  z-index: 100;
}
header a {
  margin: 8px 0;
  width: 214px;
  height: 34px;
  display: inline-block;
  background: url(../images/logo.png);
  text-indent: -9999px;
}
aside {
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  z-index: -100;
  background: #253139;
}
aside nav {
  position: absolute;
  top: 50px;
  width: 240px;
}
aside nav li {
  line-height: 46px;
}
aside nav li:hover {
  background-color: #374850;
}
aside nav li:hover a {
  color: #ff4b47;
}
aside nav li:hover ul li a {
  color: #89b2c5;
}
aside nav li:last-child a {
  border-bottom: none;
}
aside nav li a {
  color: #89b2c5;
  font-size: 14px;
  letter-spacing: 2px;
  padding-left: 56px;
  display: block;
  border-bottom: 1px solid #374850;
}
aside nav ul li {
  background-color: #374850;
}
aside nav ul li:hover {
  background-color: #253139;
}
aside nav ul li:hover a {
  color: #ff4b47 !important;
}
aside nav ul li:last-child {
  border-bottom: 1px solid #374850;
}
aside nav ul li a {
  padding-left: 70px;
  border-bottom: 1px solid #253139;
}
.hideMunu {
  line-height: 30px;
}
.hideMunu:hover a {
  color: #fff;
}
.hideMunu a {
  text-align: right;
  padding-right: 40px;
  background: #ff4b47;
  color: #fff;
}
.showMunu {
  position: absolute;
  top: auto;
  bottom: 30%;
  left: 0px;
  padding: 5px;
  background: #ff4b47;
  z-index: 100;
  width: 25px;
  color: #fff;
}
.subMunu {
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: 100;
}
.subMunu ul li {
  float: left;
  padding: 6px 25px;
  background-color: #FFF;
}
.subMunu ul li:hover {
  background-color: #253139;
}
.subMunu ul li:hover a {
  color: #fff;
}
.subMunu ul li a {
  color: #ff4b47;
}
article {
  position: absolute;
  top: 50px;
  left: 240px;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 700px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #253139;
}
footer p {
  text-align: center;
}
footer p a {
  font-size: 12px;
  color: #89b2c5;
  line-height: 25px;
}
#login {
  background: #f6f6f6;
  height: 100%;
  width: 100%;
  position: absolute;
}
#login .loginBox {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#login .loginBox form button {
  cursor: pointer;
}
#login .loginBox form .panel {
  padding: 25px 50px;
}
#login .loginBox form .panel input[name=captche] {
  padding-right: 120px;
}
#login .loginBox form .panel .captcha {
  position: absolute;
  top: 1px;
  height: 28px;
  right: 1px;
}
#login .loginBox form .panel .captcha img {
  height: 28px;
}
#login .loginBox form .panel label {
  color: #253139;
}
#login .loginBox form .panel .login {
  width: 100%;
  background: #ff4b47;
  border: 0;
  outline: none;
  height: 35px;
}
#login .loginBox form .panel p a,
#login .loginBox form .panel p span {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}
#login .loginBox form .panel p span {
  float: left;
  color: #ff4b47;
}
#login .loginBox form .panel p span i {
  font-size: 12px;
}
#login .loginBox form .panel p a {
  float: right;
  color: #666;
}
td.select-item {
  z-index: 10000;
}
td.content-title {
  text-align: left;
}
td.copy-move {
  text-align: left;
}
.selectTotal span {
  color: #ff4b47;
}
.error {
  width: 295px;
  display: block;
  font-size: 12px;
  color: #ff4b47 !important;
}
.is_show {
  color: #ff4b47;
}
.is_show i {
  font-style: 1.3em;
  font-weight: bold;
  color: #ff4b47;
}
.is_hide {
  color: #374850;
}
.img-view img {
  max-width: 100%;
}
td .cate-img-view {
  position: absolute;
  top: 40px;
  max-width: 180px;
}
.img-postion {
  position: relative;
}
.oneday {
  text-align: center;
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}
.oneday #random {
  position: absolute;
  left: 0px;
}
.oneday h5 {
  border-bottom: 2px solid #ff4b47;
  display: inline-block;
  padding: 0 8px;
  letter-spacing: 8px;
}
.oneday p {
  border-bottom: 1px dashed #e5e5e5;
  font-size: 0.85em;
  padding: 10px;
  text-align: left;
}
.oneday .author,
.count {
  padding-top: 5px;
  font-size: 0.6em;
  padding: 5px 10px;
  color: #374850;
}
.oneday .count {
  font-size: 0.6em;
}
