{include file='public/header' /}
<div class="table-title">
    <h4>新建外部链接</h4>
</div>
<form action="__URL__category/insert" method="post" class="addLinkForm">
    <div class="col-md-6">
        <div class="panel blue-border">
            <div class="panel-title">
                <h5>基本信息</h5>
            </div>
            <div class="panel-body">
                <div class="form-group-block">
                    <label>链接名称 <i>*</i></label>
                    <input type="text" name="cate_name" required placeholder="栏目名称" value="">
                </div>
                <div class="form-group-block">
                    <label>上级目录 <i>*</i></label>
                    <select name="fid">
                        <option value="0" selected>无</option>
                        {volist name="data" id="vo"}
                            <option value="{$vo.id}">{$vo.spear}{$vo.html}{$vo.cate_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group-block">
                <label>链接</label>
                <input type="text" name="link" data-rule-url="true" required data-msg-url="请连接格式，如：http://www.baidu.com/" placeholder="外部连接">
            </div>
            <div class="form-group-block">
                <label>排序</label>
                <input type="text" name="order" placeholder="栏目排序" value="">
            </div>
            <div class="form-group-block">
                <label>是否显示 <i>*</i></label>
                <select name="is_show">
                    <option value="1" selected>是</option>
                    <option value="0">否</option>
                </select>
            </div>
            <div class="panel-title">
                <h5>SEO优化</h5>
            </div>
            <div class="form-group-block">
                <label>url优化</label>
                <input type="text" name="cate_url" placeholder="url优化">
            </div>
            <div class="form-group-block">
                <label>关键词</label>
                <input type="text" name="keywords" placeholder="关键词">
            </div>
            <div class="form-group-block">
                <label>描述</label>
                <input type="text" name="description" placeholder="描述">
            </div>
            <div class="form-group-block">
                <label>备注</label>
                <input type="text" name="cate_note" placeholder="备注">
            </div>
            <input type="hidden" name="cate_type" value="4">
        </div>
    </div>

    <div class="col-md-12">
        <button class="btn red xl">保存</button>
        <button class="btn blue xl">重置</button>
    </div>

<script src="__ADMIN__js/jquery-2.1.1.min.js"></script>
<script src="__ADMIN__plus/jquery.validate/jquery.validate.js"></script>
<script src="__ADMIN__js/form-validate.js"></script>

{include file='public/footer' /}