{include file='public/header' /}
<div class="table-title">
    <h4>新建外部链接</h4>
</div>
<form action="__URL__category/update" method="post" class="addLinkForm">
    <div class="col-md-6">
        <div class="panel blue-border">
            <div class="panel-title">
                <h5>基本信息</h5>
            </div>
            <div class="panel-body">
                <input type="hidden" name="id" value="{$data.id}">
                <div class="form-group-block">
                    <label>链接名称 <i>*</i></label>
                    <input type="text" name="cate_name" required placeholder="栏目名称" value="{$data.cate_name}">
                </div>
                <div class="form-group-block">
                    <label>上级目录 <i>*</i></label>
                    <select name="fid">
                        <option value="0" selected>无</option>
                        {volist name="cate" id="vo"}
                            {if condition="($data.fid == $vo.id)"}
                                <option value="{$vo.id}" selected>{$vo.spear}{$vo.html}{$vo.cate_name}</option>
                            {else /}
                                <option value="{$vo.id}">{$vo.spear}{$vo.html}{$vo.cate_name}</option>
                            {/if}
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group-block">
                <label>链接</label>
                <input type="text" name="link" data-rule-url="true" value="{$data.link}" required data-msg-url="请连接格式，如：http://www.baidu.com/" placeholder="外部连接">
            </div>
            <div class="form-group-block">
                <label>排序</label>
                <input type="text" name="order" placeholder="栏目排序" value="{$data.order}">
            </div>
            <div class="form-group-block">
                <label>是否显示 <i>*</i></label>
                <select name="is_show">
                    {if condition="($data.is_show == 1)"}
                        <option value="1" selected>是</option>
                        <option value="0">否</option>
                    {else /}
                        <option value="1">是</option>
                        <option value="0" selected>否</option>
                    {/if}
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <button class="btn red xl">保存</button>
        <button class="btn blue xl" type="reset">重置</button>
    </div>

<script src="__ADMIN__js/jquery-2.1.1.min.js"></script>
<script src="__ADMIN__plus/jquery.validate/jquery.validate.js"></script>
<script src="__ADMIN__js/form-validate.js"></script>

{include file='public/footer' /}