{include file='public/header' /}

<div class="table-title">
    <h4>新建栏目</h4>
</div>

<form action="__URL__category/update" method="post" class="addCategoryForm" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$data.id}">
    <div class="col-md-6">
        <div class="panel blue-border">
            <div class="panel-title">
                <h5>基本信息</h5>
            </div>
            <div class="panel-body">
                <div class="form-group-block">
                    <label>栏目名称 <i>*</i></label>
                    <input type="text" name="cate_name" required placeholder="栏目名称" value="{$data.cate_name}">
                </div>
                <div class="form-group-block">
                    <label>上级目录 <i>*</i></label>
                    <select name="fid">
                        <option value="0" selected>无</option>
                        {volist name="cate" id="vo"}
                        {if condition="($vo.id == $data.fid)"}
                        <option value="{$vo.id}" selected>{$vo.spear}{$vo.html}{$vo.cate_name}</option>
                        {else/}
                        <option value="{$vo.id}">{$vo.spear}{$vo.html}{$vo.cate_name}</option>
                        {/if}
                        {/volist}
                    </select>
                </div>
                <div class="form-group-block">
                    <label>所属类型 <i>*</i></label>
                    <select name="cate_type">
                        {if condition="($data.cate_type == 1)"}
                        <option value="1" selected>文章类型</option>
                        <option value="2">单页模型</option>
                        <option value="3">下载模型</option>
                        {elseif condition="($data.cate_type == 2)" /}
                        <option value="1">文章类型</option>
                        <option value="2" selected>单页模型</option>
                        <option value="3">下载模型</option>
                        {else/}
                        <option value="1">文章类型</option>
                        <option value="2">单页模型</option>
                        <option value="3" selected>下载模型</option>
                        {/if}

                    </select>
                </div>
                <div class="form-group-block">
                    <label>栏目图片 <i>*</i></label>
                    <div class="form-group-merge">
                        <input id="images" name="images" onchange="readfichier(this);" type="file">
                        <a href="javascript:void(0);" class="btn yellow" onclick="clearImg()">删除图片</a>
                        <div class="img-view">
                            {if condition="($data.images)"}
                                <img src="__UPLOAD__{$data.images}" alt="">
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="form-group-block">
                    <label>栏目描述</label>
                    <textarea name="cate_desc" rows="4" placeholder="栏目描述">{$data.cate_desc}</textarea>
                </div>
            </div>
            <div class="form-group-block">
                <label>栏目排序</label>
                <input type="text" name="order" placeholder="栏目排序" value="{$data.order}">
            </div>
            <div class="form-group-block">
                <label>是否显示 <i>*</i></label>
                <select name="is_show">
                    {if condition="($data.is_show == 1)"}
                    <option value="1" selected>是</option>
                    <option value="0">否</option>
                    {else/}
                    <option value="1">是</option>
                    <option value="0" selected>否</option>
                    {/if}
                </select>
            </div>

        </div>
        <button class="btn red xl">保存</button>
        <button class="btn blue xl">重置</button>
    </div>
    <div class="col-md-6">
        <div class="panel blue-border">
            <div class="panel-title">
                <h5>模版设置</h5>
            </div>
            <div class="panel-body">
                <div class="form-group-block">
                    <label>首页模版</label>
                    <input type="text" name="index_tpl" placeholder="首页模版">
                </div>
                <div class="form-group-block">
                    <label>列表页模版</label>
                    <input type="text" name="list_tpl" placeholder="列表页模版">
                </div>
                <div class="form-group-block">
                    <label>内容页模版</label>
                    <input type="text" name="content_tpl" placeholder="内容页模版">
                </div>
            </div>
            <br>
            <div class="panel-title">
                <h5>SEO优化</h5>
            </div>
            <div class="form-group-block">
                <label>url优化</label>
                <input type="text" name="cate_url" placeholder="url优化">
            </div>
            <div class="form-group-block">
                <label>关键词</label>
                <input type="text" name="keywords" placeholder="关键词">
            </div>
            <div class="form-group-block">
                <label>描述</label>
                <input type="text" name="description" placeholder="描述">
            </div>
            <div class="form-group-block">
                <label>备注</label>
                <input type="text" name="cate_note" placeholder="备注,为了排版">
            </div>
        </div>
    </div>
</form>

<script src="__ADMIN__js/jquery-2.1.1.min.js"></script>
<script src="__ADMIN__plus/jquery.validate/jquery.validate.js"></script>
<script src="__ADMIN__js/form-validate.js"></script>
<script>
    // 预览图片
    function readfichier(e) {
        if (window.FileReader) {
            var file = e.files[0];
            var reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = function (e) {
                var image = new Image;
                image.src = e.target.result;
                image.onload = function () {
                     $('.img-view').html(image);
                }
            }
        }
    }
    //清空file内容
    function clearImg(){
        $('.img-view img').remove();
        var obj = document.getElementById('images') ;
        if (obj.outerHTML) {
            obj.outerHTML = obj.outerHTML;
        } else {
            obj.value = "";
        }
    }
</script>

{include file='public/footer' /}