{include file='public/header' /}

<header>
    <a href="#">ruofeiblog.com</a>
</header>
<aside>
    <nav>
        <li><a href="__URL__index/welcome/" target="main"><i class="iconfont">&#xe601;</i> 首页</a></li>
        <li><a href="__URL__category/" target="main"><i class="iconfont">&#xe60f;</i> 栏目管理</a></li>
        <li><a href="__URL__content/" target="main"><i class="iconfont">&#xe610;</i> 内容管理</a></li>
        <li><a href="__URL__admin/" target="main"><i class="iconfont">&#xe60e;</i> 帐号管理</a></li>
        <li>
            <a href="__URL__option/" target="main"><i class="iconfont">&#xe65f;</i> 网站设置</a>
            <ul>
                <li><a href="__URL__option/" target="main"><i class="iconfont">&#xe745;</i> 站点信息</a></li>
                <li><a href="__URL__admin/option" target="main"><i class="iconfont">&#xe657;</i> 博主信息</a></li>
                <li><a href="__URL__log/" target="main"><i class="iconfont">&#xe613;</i> Log日志</a></li>
            </ul>
        </li>
        <li><a href="__URL__link/" target="main"><i class="iconfont">&#xe682;</i> 友情连接</a></li>
        <li class="hideMunu"><a href="#" onClick="hideMunu();"><i class="iconfont">&#xe62e;</i> 隐藏菜单</a></li>
    </nav>
</aside>
<div class="subMunu">
    <ul>
        <li>
            <a href="#"><i class="iconfont">&#xe704;</i> {$data.nickname}</a>
        </li>
        <li>
            <a href="#"><i class="iconfont">&#xe65f;</i> 网站首页</a>
        </li>
        <li>
            <a href="#"><i class="iconfont">&#xe709;</i> 更新缓存</a>
        </li>
        <li>
            <a href="__URL__login/logout"><i class="iconfont">&#xe6e9;</i> 退出</a>
        </li>
    </ul>
</div>
<article style="">
    <a href="#" style="display: none" class="showMunu" onClick="showMunu();"><i class="iconfont">&#xe600;</i> 显示菜单</a>
    <iframe class="admin-iframe" name="main" src="__URL__index/welcome/"></iframe>
</article>
<footer>
    <p><a href="#">2016 © Ruofeiblog.com</a></p>
</footer>
<script>
    var munu = document.getElementsByTagName('nav'),
        sidebar = document.getElementsByTagName('aside'),
        article = document.getElementsByTagName('article'),
        show = document.getElementsByClassName('showMunu');
    function hideMunu()
    {
        munu[0].style.left = '-240px';
        sidebar[0].style.left = '-240px';
        article[0].style.left = '0';
        show[0].style.display = 'inline-block';
    }
    function showMunu() {
        munu[0].style.left = '0px';
        sidebar[0].style.left = '0px';
        article[0].style.left = '240px';
        show[0].style.display = 'none';
    }
</script>
{include file='public/footer' /}