{include file='public/header' /}

<div class="welcome">
    <h1>Hello,Ruofei</h1>
    <h3>欢迎登录Ruofei博客管理系统 1.0</h3>
</div>
<div class="panel today">
    <div class="panel-title">
        <h4>Today</h4>
    </div>
    <div class="panel-body">
        <p>2017年05月05日  星期五</p>
        <span><i class="iconfont">&#xe652;</i> 深圳</span>
        <span><i class="iconfont">&#xe77e;</i> 微风</span>
        <span><i class="iconfont">&#xe70f;</i> 27/22℃</span>
    </div>
</div>
<div class="panel today">
    <div class="panel-title">
        <h4>今天共有1条评论</h4>
    </div>
    <div class="panel-body">
        <p>2017年05月05日  星期五</p>
        <p><i class="iconfont">&#xe652;</i> 深圳</p>
        <p><i class="iconfont">&#xe77e;</i> 微风</p>
        <p><i class="iconfont">&#xe70f;</i> 27/22℃</p>
    </div>
</div>

{include file='public/footer' /}